# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Ralina Tsykunova\Desktop\Itlogia\2 блок\Веб-шрифты, иконки и SVG. Урок 15\Домашнее задание\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
